# Environments
.venv/
venv/
env/
bin/
obj/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data files (Don't push the heavy CSV to GitHub)
*.csv
*.xlsx

# Jupyter Notebook checkpoints
.ipynb_checkpoints/